In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
breadbasket = pd.read_csv('../data/BreadBasket_DMS.csv')
breadbasket.dtypes

Date           object
Time           object
Transaction     int64
Item           object
dtype: object

In [7]:
print(breadbasket.shape)
breadbasket.head(10)

(21293, 4)

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam
5  2016-10-30  10:07:57            3        Cookies
6  2016-10-30  10:08:41            4         Muffin
7  2016-10-30  10:13:03            5         Coffee
8  2016-10-30  10:13:03            5         Pastry
9  2016-10-30  10:13:03            5          Bread

In [8]:
breadbasket['DateTime'] = pd.to_datetime(breadbasket.Date + ' ' + breadbasket.Time)

In [9]:
prods = breadbasket.Item.unique()
print(prods)
print(len(prods))

['Bread' 'Scandinavian' 'Hot chocolate' 'Jam' 'Cookies' 'Muffin' 'Coffee'
 'Pastry' 'Medialuna' 'Tea' 'NONE' 'Tartine' 'Basket' 'Mineral water'
 'Farm House' 'Fudge' 'Juice' "Ella's Kitchen Pouches" 'Victorian Sponge'
 'Frittata' 'Hearty & Seasonal' 'Soup' 'Pick and Mix Bowls' 'Smoothies'
 'Cake' 'Mighty Protein' 'Chicken sand' 'Coke' 'My-5 Fruit Shoot'
 'Focaccia' 'Sandwich' 'Alfajores' 'Eggs' 'Brownie' 'Dulce de Leche'
 'Honey' 'The BART' 'Granola' 'Fairy Doors' 'Empanadas' 'Keeping It Local'
 'Art Tray' 'Bowl Nic Pitt' 'Bread Pudding' 'Adjustment' 'Truffles'
 'Chimichurri Oil' 'Bacon' 'Spread' 'Kids biscuit' 'Siblings'
 'Caramel bites' 'Jammie Dodgers' 'Tiffin' 'Olum & polenta' 'Polenta'
 'The Nomad' 'Hack the stack' 'Bakewell' 'Lemon and coconut' 'Toast'
 'Scone' 'Crepes' 'Vegan mincepie' 'Bare Popcorn' 'Muesli' 'Crisps'
 'Pintxos' 'Gingerbread syrup' 'Panatone' 'Brioche and salami'
 'Afternoon with the baker' 'Salad' 'Chicken Stew' 'Spanish Brunch'
 'Raspberry shortbread sandwich' 'Extra Salami or Feta' 'Duck egg'
 'Baguette' "Valentine's card" 'Tshirt' 'Vegan Feast' 'Postcard'
 'Nomad bag' 'Chocolates' 'Coffee granules ' 'Drinking chocolate spoons '
 'Christmas common' 'Argentina Night' 'Half slice Monster ' 'Gift voucher'
 'Cherry me Dried fruit' 'Mortimer' 'Raw bars' 'Tacos/Fajita']
95

In [10]:
breadbasket.Item.value_counts().head()

Coffee    5471
Bread     3325
Tea       1435
Cake      1025
Pastry     856
Name: Item, dtype: int64

In [11]:
groups = {
    "beverage":['Hot chocolate', 'Coffee', 'Tea', 'Mineral water', 'Juice', 'Coke', 'Smoothies'],
    "kids":["Ella's Kitchen Pouches", 'My-5 Fruit Shoot', 'Kids biscuit'],
    "snacks":['Mighty Protein', 'Pick and Mix Bowls', 'Caramel bites', 'Bare Popcorn', 'Crisps', 'Cherry me Dried fruit', 'Raw bars'],
    "bread":['Bread', 'Toast', 'Baguette', 'Focaccia', 'Scandinavian'],
    "breakfast_pastry":['Muffin', 'Pastry', 'Medialuna', 'Scone'],
    "dessert":['Cookies', 'Tartine', 'Fudge', 'Victorian Sponge', 'Cake', 'Alfajores', 'Brownie', 'Bread Pudding', 'Bakewell', 'Raspberry shortbread sandwich', 'Lemon and coconut', 'Crepes', 'Chocolates', 'Truffles', 'Panatone'],
    "condiments":['Jam', 'Dulce de Leche', 'Honey', 'Gingerbread syrup', 'Extra Salami or Feta', 'Bacon', 'Spread', 'Chimichurri Oil'],
    "breakfast":['Eggs', 'Frittata', 'Granola', 'Muesli', 'Duck egg', 'Brioche and salami'],
    "lunch":['Soup', 'Sandwich', 'Chicken sand', 'Salad', 'Chicken Stew']
}

def chooseCat(prod):
    for groupName, groupItems in groups.items():
        if prod in groupItems:
            return groupName
    return "OTHER_FOOD"

breadbasket["category"] = breadbasket.Item.apply(chooseCat)
breadbasket = pd.get_dummies(breadbasket,columns=["category"],prefix="",prefix_sep="")

In [12]:
breadbasket = breadbasket.drop(columns=["Date","Time"])
breadbasket.head()

,Transaction,Item,DateTime,OTHER_FOOD,beverage,bread,breakfast,breakfast_pastry,condiments,dessert,kids,lunch,snacks
0,1,Bread,2016-10-30 09:58:11,0,0,1,0,0,0,0,0,0,0
1,2,Scandinavian,2016-10-30 10:05:34,0,0,1,0,0,0,0,0,0,0
2,2,Scandinavian,2016-10-30 10:05:34,0,0,1,0,0,0,0,0,0,0
3,3,Hot chocolate,2016-10-30 10:07:57,0,1,0,0,0,0,0,0,0,0
4,3,Jam,2016-10-30 10:07:57,0,0,0,0,0,1,0,0,0,0

In [19]:
bread_group1 = breadbasket.groupby(['Transaction','DateTime']).agg({'Item': lambda x: list(x)})
bread_group2 = breadbasket.groupby(['Transaction','DateTime']).sum()
pd.concat([bread_group1,bread_group2],axis=1)

,,Item,OTHER_FOOD,beverage,bread,breakfast,breakfast_pastry,condiments,dessert,kids,lunch,snacks
Transaction,DateTime,,,,,,,,,,,
1,2016-10-30 09:58:11,[Bread],0,0,1,0,0,0,0,0,0,0
2,2016-10-30 10:05:34,"[Scandinavian, Scandinavian]",0,0,2,0,0,0,0,0,0,0
3,2016-10-30 10:07:57,"[Hot chocolate, Jam, Cookies]",0,1,0,0,0,1,1,0,0,0
4,2016-10-30 10:08:41,[Muffin],0,0,0,0,1,0,0,0,0,0
5,2016-10-30 10:13:03,"[Coffee, Pastry, Bread]",0,1,1,0,1,0,0,0,0,0
6,2016-10-30 10:16:55,"[Medialuna, Pastry, Muffin]",0,0,0,0,3,0,0,0,0,0
7,2016-10-30 10:19:12,"[Medialuna, Pastry, Coffee, Tea]",0,2,0,0,2,0,0,0,0,0
8,2016-10-30 10:20:51,"[Pastry, Bread]",0,0,1,0,1,0,0,0,0,0
9,2016-10-30 10:21:59,"[Bread, Muffin]",0,0,1,0,1,0,0,0,0,0
10,2016-10-30 10:25:58,"[Scandinavian, Medialuna]",0,0,1,0,1,0,0,0,0,0
11,2016-10-30 10:27:21,"[Bread, Medialuna, Bread, NONE]",1,0,2,0,1,0,0,0,0,0
12,2016-10-30 10:30:14,"[Jam, Coffee, Tartine, Pastry, Tea]",0,2,0,0,1,1,1,0,0,0
13,2016-10-30 10:31:24,"[Basket, Bread, Coffee]",1,1,1,0,0,0,0,0,0,0
14,2016-10-30 10:32:46,"[Bread, Medialuna, Pastry]",0,0,1,0,2,0,0,0,0,0
15,2016-10-30 10:34:36,"[NONE, NONE, Mineral water, Scandinavian]",2,1,1,0,0,0,0,0,0,0
16,2016-10-30 10:37:08,"[Bread, Medialuna, Coffee]",0,1,1,0,1,0,0,0,0,0
17,2016-10-30 10:38:04,[Hot chocolate],0,1,0,0,0,0,0,0,0,0
18,2016-10-30 10:41:56,[Farm House],1,0,0,0,0,0,0,0,0,0
19,2016-10-30 10:43:08,"[Farm House, Bread]",1,0,1,0,0,0,0,0,0,0
20,2016-10-30 10:45:22,"[Bread, Medialuna]",0,0,1,0,1,0,0,0,0,0
21,2016-10-30 10:49:29,"[Coffee, Coffee, Medialuna, Bread]",0,2,1,0,1,0,0,0,0,0
22,2016-10-30 10:52:15,[Jam],0,0,0,0,0,1,0,0,0,0
23,2016-10-30 10:53:49,"[Scandinavian, Muffin]",0,0,1,0,1,0,0,0,0,0
24,2016-10-30 10:54:33,[Bread],0,0,1,0,0,0,0,0,0,0
25,2016-10-30 10:55:22,[Scandinavian],0,0,1,0,0,0,0,0,0,0
26,2016-10-30 10:56:08,[Fudge],0,0,0,0,0,0,1,0,0,0
27,2016-10-30 11:02:19,[Scandinavian],0,0,1,0,0,0,0,0,0,0
28,2016-10-30 11:03:24,"[Coffee, Bread]",0,1,1,0,0,0,0,0,0,0
29,2016-10-30 11:05:30,"[Bread, Jam, NONE]",1,0,1,0,0,1,0,0,0,0
30,2016-10-30 11:07:19,[Bread],0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9651,2017-04-09 10:08:23,"[Pastry, Coffee]",0,1,0,0,1,0,0,0,0,0
9652,2017-04-09 10:36:11,[Baguette],0,0,1,0,0,0,0,0,0,0
9653,2017-04-09 10:39:07,"[Coffee, Cake]",0,1,0,0,0,0,1,0,0,0
9654,2017-04-09 10:52:02,"[Hot chocolate, Half slice Monster , My-5 Frui...",1,1,0,0,0,0,0,1,0,0
9655,2017-04-09 11:14:28,[Tea],0,1,0,0,0,0,0,0,0,0
9656,2017-04-09 11:17:43,"[Coffee, Toast]",0,1,1,0,0,0,0,0,0,0
9657,2017-04-09 11:22:01,[Coffee],0,1,0,0,0,0,0,0,0,0
9658,2017-04-09 11:30:22,"[Coffee, Spanish Brunch, Extra Salami or Feta]",1,1,0,0,0,1,0,0,0,0
9659,2017-04-09 11:31:15,"[Tea, Juice, Cake]",0,2,0,0,0,0,1,0,0,0
9660,2017-04-09 11:34:01,[Bread],0,0,1,0,0,0,0,0,0,0
9664,2017-04-09 11:40:10,"[Coffee, Coffee, Bread]",0,2,1,0,0,0,0,0,0,0
9665,2017-04-09 11:59:57,"[Coffee, Juice, Spanish Brunch]",1,2,0,0,0,0,0,0,0,0
9666,2017-04-09 12:01:07,"[Coffee, NONE]",1,1,0,0,0,0,0,0,0,0
9667,2017-04-09 12:04:13,"[NONE, Bread, Sandwich, Sandwich]",1,0,1,0,0,0,0,0,2,0
9668,2017-04-09 12:07:57,"[Tea, Bread]",0,1,1,0,0,0,0,0,0,0
9669,2017-04-09 12:15:00,[Farm House],1,0,0,0,0,0,0,0,0,0
9670,2017-04-09 12:22:40,[Farm House],1,0,0,0,0,0,0,0,0,0
9671,2017-04-09 12:28:01,[Bread],0,0,1,0,0,0,0,0,0,0
9672,2017-04-09 12:31:28,"[Coffee, Cookies, NONE, Extra Salami or Feta]",1,1,0,0,0,1,1,0,0,0
9673,2017-04-09 12:32:03,"[Spanish Brunch, Coffee, Bread]",1,1,1,0,0,0,0,0,0,0
9674,2017-04-09 13:04:08,[Coffee],0,1,0,0,0,0,0,0,0,0
9676,2017-04-09 13:06:34,"[Smoothies, Sandwich]",0,1,0,0,0,0,0,0,1,0
9677,2017-04-09 13:20:23,"[Tacos/Fajita, Coke]",1,1,0,0,0,0,0,0,0,0
9678,2017-04-09 13:49:21,"[Coffee, Tacos/Fajita, Toast]",1,1,1,0,0,0,0,0,0,0
9679,2017-04-09 14:08:37,"[Bread, Spanish Brunch]",1,0,1,0,0,0,0,0,0,0
9680,2017-04-09 14:24:03,[Bread],0,0,1,0,0,0,0,0,0,0
9681,2017-04-09 14:30:09,"[Truffles, Tea, Spanish Brunch, Christmas common]",2,1,0,0,0,0,1,0,0,0
9682,2017-04-09 14:32:58,"[Muffin, Tacos/Fajita, Coffee, Tea]",1,2,0,0,1,0,0,0,0,0
9683,2017-04-09 14:57:06,"[Coffee, Pastry]",0,1,0,0,1,0,0,0,0,0
9684,2017-04-09 15:04:24,[Smoothies],0,1,0,0,0,0,0,0,0,0

In [117]:
bread_group

,DateTime,OTHER_FOOD,beverage,bread,breakfast,breakfast_pastry,condiments,dessert,kids,lunch,snacks
Transaction,,,,,,,,,,,
1,2016-10-30 09:58:11,0,0,1,0,0,0,0,0,0,0
2,2016-10-30 10:05:34,0,0,2,0,0,0,0,0,0,0
3,2016-10-30 10:07:57,0,1,0,0,0,1,1,0,0,0
4,2016-10-30 10:08:41,0,0,0,0,1,0,0,0,0,0
5,2016-10-30 10:13:03,0,1,1,0,1,0,0,0,0,0
6,2016-10-30 10:16:55,0,0,0,0,3,0,0,0,0,0
7,2016-10-30 10:19:12,0,2,0,0,2,0,0,0,0,0
8,2016-10-30 10:20:51,0,0,1,0,1,0,0,0,0,0
9,2016-10-30 10:21:59,0,0,1,0,1,0,0,0,0,0
10,2016-10-30 10:25:58,0,0,1,0,1,0,0,0,0,0
11,2016-10-30 10:27:21,1,0,2,0,1,0,0,0,0,0
12,2016-10-30 10:30:14,0,2,0,0,1,1,1,0,0,0
13,2016-10-30 10:31:24,1,1,1,0,0,0,0,0,0,0
14,2016-10-30 10:32:46,0,0,1,0,2,0,0,0,0,0
15,2016-10-30 10:34:36,2,1,1,0,0,0,0,0,0,0
16,2016-10-30 10:37:08,0,1,1,0,1,0,0,0,0,0
17,2016-10-30 10:38:04,0,1,0,0,0,0,0,0,0,0
18,2016-10-30 10:41:56,1,0,0,0,0,0,0,0,0,0
19,2016-10-30 10:43:08,1,0,1,0,0,0,0,0,0,0
20,2016-10-30 10:45:22,0,0,1,0,1,0,0,0,0,0
21,2016-10-30 10:49:29,0,2,1,0,1,0,0,0,0,0
22,2016-10-30 10:52:15,0,0,0,0,0,1,0,0,0,0
23,2016-10-30 10:53:49,0,0,1,0,1,0,0,0,0,0
24,2016-10-30 10:54:33,0,0,1,0,0,0,0,0,0,0
25,2016-10-30 10:55:22,0,0,1,0,0,0,0,0,0,0
26,2016-10-30 10:56:08,0,0,0,0,0,0,1,0,0,0
27,2016-10-30 11:02:19,0,0,1,0,0,0,0,0,0,0
28,2016-10-30 11:03:24,0,1,1,0,0,0,0,0,0,0
29,2016-10-30 11:05:30,1,0,1,0,0,1,0,0,0,0
30,2016-10-30 11:07:19,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9651,2017-04-09 10:08:23,0,1,0,0,1,0,0,0,0,0
9652,2017-04-09 10:36:11,0,0,1,0,0,0,0,0,0,0
9653,2017-04-09 10:39:07,0,1,0,0,0,0,1,0,0,0
9654,2017-04-09 10:52:02,1,1,0,0,0,0,0,1,0,0
9655,2017-04-09 11:14:28,0,1,0,0,0,0,0,0,0,0
9656,2017-04-09 11:17:43,0,1,1,0,0,0,0,0,0,0
9657,2017-04-09 11:22:01,0,1,0,0,0,0,0,0,0,0
9658,2017-04-09 11:30:22,1,1,0,0,0,1,0,0,0,0
9659,2017-04-09 11:31:15,0,2,0,0,0,0,1,0,0,0
9660,2017-04-09 11:34:01,0,0,1,0,0,0,0,0,0,0
9664,2017-04-09 11:40:10,0,2,1,0,0,0,0,0,0,0
9665,2017-04-09 11:59:57,1,2,0,0,0,0,0,0,0,0
9666,2017-04-09 12:01:07,1,1,0,0,0,0,0,0,0,0
9667,2017-04-09 12:04:13,1,0,1,0,0,0,0,0,2,0
9668,2017-04-09 12:07:57,0,1,1,0,0,0,0,0,0,0
9669,2017-04-09 12:15:00,1,0,0,0,0,0,0,0,0,0
9670,2017-04-09 12:22:40,1,0,0,0,0,0,0,0,0,0
9671,2017-04-09 12:28:01,0,0,1,0,0,0,0,0,0,0
9672,2017-04-09 12:31:28,1,1,0,0,0,1,1,0,0,0
9673,2017-04-09 12:32:03,1,1,1,0,0,0,0,0,0,0
9674,2017-04-09 13:04:08,0,1,0,0,0,0,0,0,0,0
9676,2017-04-09 13:06:34,0,1,0,0,0,0,0,0,1,0
9677,2017-04-09 13:20:23,1,1,0,0,0,0,0,0,0,0
9678,2017-04-09 13:49:21,1,1,1,0,0,0,0,0,0,0
9679,2017-04-09 14:08:37,1,0,1,0,0,0,0,0,0,0
9680,2017-04-09 14:24:03,0,0,1,0,0,0,0,0,0,0
9681,2017-04-09 14:30:09,2,1,0,0,0,0,1,0,0,0
9682,2017-04-09 14:32:58,1,2,0,0,1,0,0,0,0,0
9683,2017-04-09 14:57:06,0,1,0,0,1,0,0,0,0,0
9684,2017-04-09 15:04:24,0,1,0,0,0,0,0,0,0,0

In [ ]:
bread_group.reset_index(level=['DateTime'], inplace=True)

In [122]:
bread_group['hour'] = bread_group.DateTime.dt.hour
bread_group['day'] = bread_group.DateTime.dt.dayofweek
bread_group

,DateTime,OTHER_FOOD,beverage,bread,breakfast,breakfast_pastry,condiments,dessert,kids,lunch,snacks,hour,day
Transaction,,,,,,,,,,,,,
1,2016-10-30 09:58:11,0,0,1,0,0,0,0,0,0,0,9,6
2,2016-10-30 10:05:34,0,0,2,0,0,0,0,0,0,0,10,6
3,2016-10-30 10:07:57,0,1,0,0,0,1,1,0,0,0,10,6
4,2016-10-30 10:08:41,0,0,0,0,1,0,0,0,0,0,10,6
5,2016-10-30 10:13:03,0,1,1,0,1,0,0,0,0,0,10,6
6,2016-10-30 10:16:55,0,0,0,0,3,0,0,0,0,0,10,6
7,2016-10-30 10:19:12,0,2,0,0,2,0,0,0,0,0,10,6
8,2016-10-30 10:20:51,0,0,1,0,1,0,0,0,0,0,10,6
9,2016-10-30 10:21:59,0,0,1,0,1,0,0,0,0,0,10,6
10,2016-10-30 10:25:58,0,0,1,0,1,0,0,0,0,0,10,6
11,2016-10-30 10:27:21,1,0,2,0,1,0,0,0,0,0,10,6
12,2016-10-30 10:30:14,0,2,0,0,1,1,1,0,0,0,10,6
13,2016-10-30 10:31:24,1,1,1,0,0,0,0,0,0,0,10,6
14,2016-10-30 10:32:46,0,0,1,0,2,0,0,0,0,0,10,6
15,2016-10-30 10:34:36,2,1,1,0,0,0,0,0,0,0,10,6
16,2016-10-30 10:37:08,0,1,1,0,1,0,0,0,0,0,10,6
17,2016-10-30 10:38:04,0,1,0,0,0,0,0,0,0,0,10,6
18,2016-10-30 10:41:56,1,0,0,0,0,0,0,0,0,0,10,6
19,2016-10-30 10:43:08,1,0,1,0,0,0,0,0,0,0,10,6
20,2016-10-30 10:45:22,0,0,1,0,1,0,0,0,0,0,10,6
21,2016-10-30 10:49:29,0,2,1,0,1,0,0,0,0,0,10,6
22,2016-10-30 10:52:15,0,0,0,0,0,1,0,0,0,0,10,6
23,2016-10-30 10:53:49,0,0,1,0,1,0,0,0,0,0,10,6
24,2016-10-30 10:54:33,0,0,1,0,0,0,0,0,0,0,10,6
25,2016-10-30 10:55:22,0,0,1,0,0,0,0,0,0,0,10,6
26,2016-10-30 10:56:08,0,0,0,0,0,0,1,0,0,0,10,6
27,2016-10-30 11:02:19,0,0,1,0,0,0,0,0,0,0,11,6
28,2016-10-30 11:03:24,0,1,1,0,0,0,0,0,0,0,11,6
29,2016-10-30 11:05:30,1,0,1,0,0,1,0,0,0,0,11,6
30,2016-10-30 11:07:19,0,0,1,0,0,0,0,0,0,0,11,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,2017-04-09 10:08:23,0,1,0,0,1,0,0,0,0,0,10,6
9652,2017-04-09 10:36:11,0,0,1,0,0,0,0,0,0,0,10,6
9653,2017-04-09 10:39:07,0,1,0,0,0,0,1,0,0,0,10,6
9654,2017-04-09 10:52:02,1,1,0,0,0,0,0,1,0,0,10,6
9655,2017-04-09 11:14:28,0,1,0,0,0,0,0,0,0,0,11,6
9656,2017-04-09 11:17:43,0,1,1,0,0,0,0,0,0,0,11,6
9657,2017-04-09 11:22:01,0,1,0,0,0,0,0,0,0,0,11,6
9658,2017-04-09 11:30:22,1,1,0,0,0,1,0,0,0,0,11,6
9659,2017-04-09 11:31:15,0,2,0,0,0,0,1,0,0,0,11,6
9660,2017-04-09 11:34:01,0,0,1,0,0,0,0,0,0,0,11,6
9664,2017-04-09 11:40:10,0,2,1,0,0,0,0,0,0,0,11,6
9665,2017-04-09 11:59:57,1,2,0,0,0,0,0,0,0,0,11,6
9666,2017-04-09 12:01:07,1,1,0,0,0,0,0,0,0,0,12,6
9667,2017-04-09 12:04:13,1,0,1,0,0,0,0,0,2,0,12,6
9668,2017-04-09 12:07:57,0,1,1,0,0,0,0,0,0,0,12,6
9669,2017-04-09 12:15:00,1,0,0,0,0,0,0,0,0,0,12,6
9670,2017-04-09 12:22:40,1,0,0,0,0,0,0,0,0,0,12,6
9671,2017-04-09 12:28:01,0,0,1,0,0,0,0,0,0,0,12,6
9672,2017-04-09 12:31:28,1,1,0,0,0,1,1,0,0,0,12,6
9673,2017-04-09 12:32:03,1,1,1,0,0,0,0,0,0,0,12,6
9674,2017-04-09 13:04:08,0,1,0,0,0,0,0,0,0,0,13,6
9676,2017-04-09 13:06:34,0,1,0,0,0,0,0,0,1,0,13,6
9677,2017-04-09 13:20:23,1,1,0,0,0,0,0,0,0,0,13,6
9678,2017-04-09 13:49:21,1,1,1,0,0,0,0,0,0,0,13,6
9679,2017-04-09 14:08:37,1,0,1,0,0,0,0,0,0,0,14,6
9680,2017-04-09 14:24:03,0,0,1,0,0,0,0,0,0,0,14,6
9681,2017-04-09 14:30:09,2,1,0,0,0,0,1,0,0,0,14,6
9682,2017-04-09 14:32:58,1,2,0,0,1,0,0,0,0,0,14,6
9683,2017-04-09 14:57:06,0,1,0,0,1,0,0,0,0,0,14,6
9684,2017-04-09 15:04:24,0,1,0,0,0,0,0,0,0,0,15,6

In [60]:
from sklearn.base import TransformerMixin

class Cleaner(TransformerMixin):
    def __init__(self,percentile=0.95):
        self.percentile = percentile
    def fit(self, X):
        return self
    def transform(self, x):
        return pd.DataFrame(np.random.random((5,10)))

In [61]:
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline

steps = [
    Cleaner(),
    StandardScaler(),
    Normalizer(),
    PCA(n_components=3)
]

In [62]:
df = pd.DataFrame(np.random.random((5,5)))
df

          0         1         2         3         4
0  0.711248  0.518248  0.073229  0.762659  0.126145
1  0.430477  0.517063  0.194224  0.630981  0.310011
2  0.023117  0.517543  0.832391  0.707139  0.566133
3  0.164706  0.100833  0.605038  0.862455  0.722524
4  0.710864  0.800967  0.267737  0.201688  0.434635

In [63]:
pipe = make_pipeline(*steps)
X_feats = pipe.fit_transform(df)

In [64]:
pd.DataFrame(X_feats)

,0,1,2,3,4,5,6,7,8,9
0,0.892638,0.590408,0.605124,0.152918,0.339490,0.534689,0.907267,0.862044,0.355554,0.862575
1,0.724158,0.388551,0.671250,0.450429,0.287065,0.117926,0.247203,0.604057,0.386418,0.375611
2,0.226916,0.771107,0.819203,0.653802,0.749397,0.592074,0.231982,0.499207,0.917939,0.111706
3,0.285102,0.792401,0.922935,0.029667,0.029306,0.689710,0.723720,0.865490,0.354160,0.933295
4,0.396057,0.483014,0.528094,0.366532,0.109981,0.692557,0.008052,0.935547,0.642983,0.692106